Checks: >
    clang-analyzer-*,
    concurrency-*,
    bugprone-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    modernize-*,
    readability-*,
    -readability-magic-numbers,
    portability-*,
    performance-*,
    misc-*
WarningsAsErrors: ""
